.menu{
    width:100%;
    position: relative;
    &__content{
        width:100%;
        padding:100px 0px;
        position: relative;
        
        h3{
            font-weight: bold;
            font-size: 35px;
            display: block;
            text-align: center;
            padding:20px 0px;
        }
        &--list{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding-bottom:15px;
            border-bottom: 1px dotted rgb(206, 205, 205);
            
            li{
                margin:0px 25px;
            }
            button{
                border:none;
                outline: none;
                background-color: transparent;
                
                font-weight: bold;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                i{
                    margin-bottom:5px;
                    color:$primary_color;
                }
            }
        }
        &--all{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding:20px 0px;

            &-pro1, 
            &-pro2,
            &-pro3,
            &-pro4,
            &-pro5,
            &-pro6,
            &-pro7,
            &-pro8{
                flex-basis: 48%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px dotted rgb(206, 205, 205);
                padding:15px 0px;
                // display: none;

                &-infor{
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;

                    & > span:first-child{
                        font-weight: bold;
                        font-size:16px;
                    }
                    & > span:last-child{
                        font-size: 14px;
                    }
                }
                &-money{
                    color: $primary_color;
                    font-size:24px;

                    sup{
                        position: relative;
                        left: 6px;
                        top: 3px;
                    }
                }
            }
        }
    }
}
.btn-menu{
    width:197px;
    height:53px;
    display: block;
    margin: auto;
    margin-top:20px;
}
.active{
    color:$primary_color;
}
